<nav class="flex items-center text-sm font-medium gap-3 sm:gap-6">
    <a href="/">
        <img class="size-6" src="/favicon.svg" />
    </a>

    <div class="flex gap-1 items-center text-foreground/50">
        <a
            class="px-2 sm:px-4 py-2 hover:text-foreground hover:bg-accent transition-colors transform"
            href="/projects">Projects</a
        >
        <a
            class="px-2 sm:px-4 py-2 hover:text-foreground hover:bg-accent transition-colors transform"
            href="/blog">Blog</a
        >
    </div>
</nav>
